<%-include('header')%>

<script>
document.addEventListener('DOMContentLoaded', function() {
  
    var calendarEl = document.getElementById('calendar');
  
    let planning = "<% index_p.forEach(function(user){ %><%= user.titre %>,<%= user.date %>,<%= user.heure_debut %><% }) %>";
    let tab_planning = stock.split(',');
    console.log(tab_planning);

    var calendar = new FullCalendar.Calendar(calendarEl, {
      initialView: 'timeGridDay',
      initialDate: '2021-11-07',
      locale: 'fr',
      
      events: [
        
        {
          title: 'route',
          start: '2021-11-07T07:00:00'
        },

       /* {
          title: tab_planning[0],
          start: tab_planning[1]+'T'+tab_planning[2]
        },*/

      ]
    });
  
    calendar.render();
  });</script>

<div class="container">
    <div class="row">
        <div class="col p-3">
            <div class="accordion col-sm" id="accordionExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      Eleves
                    </button>
                  </h2>
                  <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">Nom </th>
                                <th scope="col">Prénom</th>
                                <th scope="col">Date de naissance</th>
                            </tr>
                            </thead>
                            <tbody>
                            <% index_e.forEach(function(user){ %>
                        
                            <tr>
                                <td><%= user.Nom %> </td>
                                <td> <%= user.Prenom %></td>
                                <td> <%= user.Date_Naissance %></td>
                            </tr>
                            <% }) %>
                            </tbody>
                      
                        </table>
                        
                       
                       
                     </div>
                    
                  </div>
                </div>
            </div>
        </div>
        <div class="col p-3">
            <div id='calendar'></div>
        </div>
    </div>
</div>




<%-include('footer')%>