<%-include('header')%>

<div class="container">
    <div class="row">
        <div class="col p-3">
            <div class="accordion col-sm" id="accordionExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      Moniteurs
                    </button>
                  </h2>
                  <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">Nom </th>
                                <th scope="col">Prénom</th>
                                <th><a href="/ajout_moniteur"><button type="button" class="btn btn-success">Ajouter</button></a></th>
                            </tr>
                            </thead>
                            <tbody>
                            <% index.forEach(function(user){ %>
                        
                            <tr>
                                <td><%= user.Nom %> </td>
                                <td> <%= user.Prenom %></td>
                                <td><a href="/supprimer_m?id=<%= user.Id%>"><button type="button" class="btn btn-danger">Supprimer</button></a>
                                    <a href="/modifier_moniteur?id=<%= user.Id%>"><button type="button" class="btn btn-warning">Modifier</button></a></td>
                            </tr>
                            <% }) %>
                            </tbody>
                      
                        </table>
                        
                       
                     </div>
                    
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>




<%-include('footer')%>